// <div class="cover">
//   <div><!-- header --></div>
//   <div><!-- centered --></div>
//   <div><!-- footer --></div>
// </div>

.cover-l {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

.cover-l > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover-l > :first-child:not(h1) {
  margin-top: 0;
}

.cover-l > :last-child:not(h1) {
  margin-bottom: 0;
}

.cover-l > h1 {
  margin-top: auto;
  margin-bottom: auto;
}