{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/page.css'] %}

{% block content %}
  {# <script>console.log({{valueSection | dump | safe}})</script> #}

  {% include "partials/page-header.html" %}

  {% for section in sitePage.content.sections %}

  {% if section._type == 'ctaSection' %}
    {% include "sections/cta-section.html" %}
  {% endif %}
  {% if section._type == 'cardsSection' %}
    {% include "sections/cards-section.html" %}
  {% endif %}
  {% if section._type == 'testimonialsSection' %}
    {% include "sections/cardGrid-section.html" %}
  {% endif %}
  {% if section._type == 'imageTextSection' %}
    {% include "sections/imageText-section.html" %}
  {% endif %}
  {% if section._type == 'reusedSection' %}
    {% include "sections/reusable-section.html" %}
  {% endif %}
  {% if section._type == 'rteSection' %}
    {% include "sections/rte-section.html" %}
  {% endif %}

{% endfor %}


{% endblock %}