<footer class="footer">
  <div class="wrapper">
    <div class="footer__grid [ flow ]">

      <div class="footer__logos">
        <img width="150" src="/images/logos/logo-temp.png" alt="Ciudadaniaromana.com logo" />
        {# <img src="/images/logos/explore-altoona-logo-traced.png" alt="Explore Altoona Logo" /> #}
      </div>

      <ul class="footer__social-wrapper">
        {% include 'partials/social-icons.html' %}
      </ul>

      <div class="footer__phone">
        <a href="tel:+40-742-112-174"><span>Call us</span><br><span>+40 (742) 1120-174</span></a>
      </div>

      <div class="footer__address [ flow ]">
        <p>Timisoara Tour Guide S.R.L.</p>
        <p><a href="mailto:contact@timisoaratourguide.com">contact@timisoaratourguide.com</a></p>
        <p><a href="tel:+40-742-112-174">+40 (742) 1120-174</a></p>
        <p>Street Address Here,<br />Timișoara 300628, Timiș, Romania</p>
      </div>

      <div class="footer__col col1">
        <h4>About</h4>
        <ul>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Quién Soy</a></li>
          <li><a href="#">Referencias</a></li>
          <li><a href="#">Recursos</a></li>
        </ul>
      </div>

      {# <div class="footer__col col2">
        <h4>Contacto</h4>
        <ul>
          <li><a href="/history/">Contact</a></li>
          <li><a href="/join-our-team/">Join Our Team</a></li>
          <li><a href="{{ nav[4].url }}">Contact Us</a></li>
        </ul>
      </div> #}

      <div class="footer__col col3">
        <h4>Legal</h4>
        <ul>
          <li><a href="/privacy-policy/">Privacy Policy</a></li>
          <li><a href="/terms-and-conditions/">Terms &amp; Conditions</a></li>
          <li><a href="/accessibility-statement/">Accessibility Statement</a></li>
          <li><a href="/accessibility-policy/">Accessibility Policy</a></li>
        </ul>
      </div>

    </div>
  </div>
    <div class="footer__bottom">
      <div class="wrapper footer__bottom-content">
          <p>©2014-2020 DelGrosso’s Amusement Park, Inc. All Rights Reserved. | 
          Website by: <a href="https://studiorovst.com" target="_blank" rel="noopener noreferrer">Studio Rovst</a></p>
      </div>
    </div>
</footer>